*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	line-height: 150%;
}


ul,
ol {
	list-style: none;
}

input,
button,
textarea,
select {
	font: inherit;
	color: inherit;
	letter-spacing: inherit;
}

input {
	outline: transparent;
}

button,
button:active,
button:focus {
	outline: transparent;
}

body {
	min-height: 100vh;
	font-size: 18px;
	letter-spacing: .5px;
	overflow-x: hidden;
	background-color: #302D42;
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 15px;
}

.container-fluid {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 15px;
}

.text-pink {
	color: #D967FF;
}

.text-red {
	color: rgb(202, 0, 0);
}

.title {
	font-size: 48px;
	font-weight: 700;
}

.hidden {
	display: none;
}
.btn-burger {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	outline: none;
	width: 46px;
	height: 46px;
	border: none;
	padding: 0;
	border-radius: 15px;
	background-color: transparent;
	z-index: 100;
	position: relative;
	transition: all .4s ease-in;
	cursor: pointer;

	&__line {
		transition: all .4s;
		display: block;
		width: 24px;
		height: 1px;
		margin-top: 8px;
		border-radius: 20px;
		background-color: $primary;

		&:first-child {
			margin-top: 0;
		}
	}

	&.btn-burger--close {
		.btn-burger {
			&__line:nth-child(1) {
				position: absolute;
				top: 50%;
				left: 50%;
				right: 50%;
				bottom: 50%;
				width: 24px;
				margin: 0;
				padding: 0;
				transform: translate(-50%) rotate(45deg);
			}

			&__line:nth-child(3) {
				display: none;
			}

			&__line:nth-child(2) {
				position: absolute;
				top: 50%;
				left: 50%;
				right: 50%;
				bottom: 50%;
				width: 24px;
				margin: 0;
				padding: 0;
				transform: translate(-50%) rotate(-45deg);
			}
		}
	}
}