@import "libs";
@import "fonts";
@import "vars";
@import "global";

.header {
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 0;
	}

	&__logo {
		padding-right: 10px;
	}

	&__logo-img {
		width: 80px;
		height: 50px;
	}

	&__list {
		display: flex;
		align-items: center;
	}

	&__item+.header__item {
		margin-left: 50px;
	}

	&__link:hover {
		color: $primary;
	}

	&__btn {
		color: $primary;
		padding: 10px 15px;
		border: 1px solid $primary;
		border-radius: 40px;
		background-color: transparent;
		cursor: pointer;
		transition: .2s ease-in;

		&:hover {
			color: #fff;
			background-color: $primary;
			box-shadow: 0 0 10px $primary;
		}

		&:active {
			background-color: darken($primary, 20%);
		}
	}
}

.cards {
	&__inner {
		display: flex;
		justify-content: space-between;
		padding-top: 70px;
		padding-bottom: 70px;
	}

	&__content,
	&__plastic {
		width: 48%;
	}

	&__content-title {
		max-width: 728px;
	}

	&__content-text {
		font-size: 22px;
		width: 400px;
		margin: 25px 0;
	}

	&__content-btn {
		font-size: 24px;
		padding: 20px 25px;
		border-radius: 50px;
		border: 1px solid transparent;
		background-color: $primary;
		background: linear-gradient(30deg, rgba($primary, 1) 0%, rgba(#F648D0, 1) 100%);
		cursor: pointer;
		animation: radial-pulse 2s infinite;
		box-shadow: 0 0 10px $primary;
		transition: .1s;

		&:hover {
			animation: radial-pulse 0s infinite;
			box-shadow: 0 0 10px rgba($primary, .5);
		}

		&:active {
			transform: scale(.95);
		}
	}
}

@keyframes radial-pulse {
	0% {
		box-shadow: 0 0 0px rgba($primary, 1);
	}

	100% {
		box-shadow: 0 0 40px rgba($primary, 0);
	}
}

.card {
	&-item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: auto;
		max-width: 550px;
		max-height: 350px;
		height: 100%;
		box-shadow: 25px 25px 50px rgba(0, 0, 0, 0.5);
		border-radius: 15px;
		padding: 40px 60px;
		overflow: hidden;
		border-top: 1px solid rgba(255, 255, 255, 0.4);
		border-left: 1px solid rgba(255, 255, 255, 0.4);
		background: linear-gradient(140deg, rgba(74, 58, 180, 1) 30%, rgba($primary, 1) 100%);
	}

	&-item__title {
		font-size: 36px;
	}

	&-item__payment {
		width: 100px;
	}

	&-item__name {
		font-size: 22px;
		display: block;
		margin-left: auto;
	}
}

.advantages {
	&__inner {
		padding-bottom: 100px;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 250px;
		padding-top: 100px;

	}

	&__item-img {
		width: 64px;
		height: 64px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__title {
		font-size: 28px;
		margin-top: 20px;
	}

	&__text {
		margin-top: 10px;
		line-height: 130%;
	}
}

.about {
	&__outer {
		// background-color: $primary;
		// color: #fff;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 100px;
	}

	&__images {
		padding-right: 15px;
		position: relative;
	}

	&__image {
		width: 500px;
	}

	&__image-big {
		animation: up-down 2s infinite alternate;
		animation-timing-function: ease-in-out;
		filter: drop-shadow(0px 50px 70px rgba(darken($primary, 50%), 1))
	}

	&__image-small {
		animation: up-down 2s infinite alternate;
		animation-timing-function: ease-in-out;
		position: absolute;
		bottom: -20px;
		width: 120px;
		filter: drop-shadow(0px 40px 30px rgba(darken($primary, 50%), 1))
	}

	&__image-item {
		width: 100%;
		object-fit: cover;
	}

	&__content {
		max-width: 600px;
	}

	&__text {
		margin-top: 30px;
	}

	&__text+.about__text {
		margin-top: 15px;
	}
}

@keyframes up-down {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(10px);
	}
}
























.footer {
	&__inner {
		padding-top: 50px;
		position: relative;
		border-top: 1px solid $primary;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__list {
		display: flex;
	}

	&__item {}

	&__link {
		color: #fff;
		padding: 5px 10px;
		cursor: pointer;
		transition: .2s;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			border-radius: 3px;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 0%;
			background-color: $primary;
			transition: .2s ease-in-out;
		}

		&:hover::before {
			height: 100%;
		}
	}

	&__item+.footer__item {
		margin-left: 20px;
	}

	&__social-links {
		display: flex;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		font-size: 16px;
		margin-top: 40px;
		padding-bottom: 20px;
		color: grey;
	}
}

.social__link {
	&:hover path {
		fill: $primary;
	}

	&:active path {
		fill: darken($primary, 10%);
	}
}

.social__link+.social__link {
	margin-left: 5px;
}

.qa {
	&__title {
		text-align: center;
		margin-bottom: 30px;
	}

	&__inner {
		margin-top: 70px;
		margin-bottom: 70px;
	}


	&__accordion-item {
		border-radius: 20px;
	}

	&__accordion-header {
		background-color: lighten(#302D42, 20%);
		border-bottom: 1px solid lighten(#302D42, 10%);
		color: #fff;
		padding: 25px;
		position: relative;
		cursor: pointer;
	}

	&__accordion-icon,
	&__accordion-icon--minus {
		position: absolute;
		width: 21px;
		height: 21px;
		right: 30px;
		top: 50%;
		transform: translateY(-50%);
		background-image: url(../images/plus.svg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		transition: .5s;
	}

	&__accordion-icon--minus {
		transform: rotate(180deg);
		height: 3px;
	}

	&__accordion-body {
		background-color: lighten(#302D42, 5%);
		padding: 15px 20px 5px;
		font-weight: 300;
		display: none;

		&--active {
			display: block;
		}
	}


	&__accordion-text+.qa__accordion-text {
		margin-top: 15px;
	}

	&__accordion-list {
		margin-bottom: 15px;
		padding-left: 40px;
	}

	&__accordion-el {
		list-style: disc;
	}

	// display: none;
}