@media (max-width: 991.98px) {
.header {
  &__item+.header__item {
    margin-left: 25px;
  }
  &__btn {
    font-weight: 300;
    padding: 5px 10px;
  }
}

  p {
    line-height: 125%;
  }

  .title {
    font-size: 28px;
  }

  .cards {

    &__content,
    &__plastic {
      width: 49%;
    }


    &__content-text {
      font-size: 18px;
      margin: 10px 0;
    }

    &__content-btn {
      font-size: 18px;
      padding: 10px 15px;
    }

  }

  .card {
    &-item {
      width: 300px;
      height: 200px;
      padding: 10px 20px;
    }

    &-item__title {
      font-size: 28px;
    }

    &-item__payment {
      width: 50px;
    }

    &-item__name {
      font-size: 18px;
    }
  }

  .advantages {
    &__inner {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &__items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    &__item {
      align-items: center;
      text-align: center;
      width: 40%;
    }

    &__item:nth-child(3) {
      margin-top: 15px;
    }

    &__item:nth-child(4) {
      margin-top: 15px;
    }


    &__item-img {
      width: 56px;
      height: 56px;
    }

    &__title {
      font-size: 22px;
      margin-top: 15px;
      margin-bottom: 5px;
    }

    &__text {
      font-size: 18px;
    }
  }

  .about {
    &__inner {
      padding-top: 30px;
      padding-bottom: 50px;
    }

    &__image {
      width: 250px;
      padding-right: 20px;
    }

    &__image-small {
      width: 80px;
    }

    &__text {
      margin-top: 15px;
      line-height: 120%;
    }

    &__text+.about__text {
      display: none;
    }
  }

  .footer {
    &__inner {
      padding-top: 30px;
    }
    &__top {
      flex-direction: column;
      align-items: center;
    }

    &__list {
      margin: 30px 0;
    }

    &__bottom {
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }

    &__bottom-copyright {
      margin-right: 30px;
    }
  }

  .social__link+.social__link {
    margin-left: 20px;
  }
}